html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {}

article header {
  font-family: "Crimson Text", serif;
}

article h1 {
  color: #222;
  padding: 1rem;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 1.3rem;
  font-family: "Crimson Text", serif;
}

article header p {
  color: #222;
  font-family: "Crimson Text", serif;
  padding: 1rem;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 1.3rem;
}

article p {
}

article ol {}

blockquote {
  color: #555;
}

.quote {
  color: #999;
}
